.venv
build
out
dist
temp
*.svg
*.png

__pycache__
__pycache__/arucoSize.cpython-311.pyc
__pycache__/lecaloUtils.cpython-311.pyc
__pycache__/lekaloConture.cpython-311.pyc
__pycache__/lekaloDraw.cpython-311.pyc
__pycache__/lekaloFilter.cpython-311.pyc
__pycache__/lekaloMain.cpython-311.pyc
__pycache__/lekaloSvg.cpython-311.pyc
example.png
example.svg
